@import 'src/styles/mixins.scss';

.header {
  height: 70px;
  background-color: var(--purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  @include mobile {
    padding: 0 25px;
  }

  .header-left {
    .header-left-back-button {
      @include mobile {
        display: none;
      }
    }
    .header-left-back-icon {
      display: flex;
      justify-content: center;
      @include tablet {
        display: none;
      }
    }
  }

  .header-right {
    .header-right-logout-button {
      @include mobile {
        display: none;
      }
    }
    .header-right-logout-icon {
      @include tablet {
        display: none;
      }
    }
  }
}
